<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="bridge-type:gruenstromindex:account">
		<parameter name="token" type="text">
			<context>password</context>
			<label>Access Token</label>
			<description>Access token to access the GrünstromIndex API (if available).</description>
		</parameter>
		<parameter name="refreshInterval" type="integer" min="1" unit="min">
			<label>Refresh Interval</label>
			<description>Specifies the refresh interval (in minutes).</description>
			<default>30</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:gruenstromindex:green-energy-forecast">
		<parameter name="zipcode" type="text" required="true">
			<label>Zipcode</label>
			<description>Zipcode of a city / village in Germany.</description>
		</parameter>
	</config-description>

</config-description:config-descriptions>
